rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function signedInUser() {
      return request.auth.uid != null;
    }
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId
    }
  	function validOrganizer() {
    	return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isOrganizer == true;
    }
    match /user/{userId} {
    	allow read: if signedInUser();
      allow write, update, delete: if isOwner(userId);
    }
    match /organizations/{orgId} {
    	allow read, create: if signedInUser();
    	allow write, update: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isOrganizer == true;
    }
    match /events/{eventId} {
      allow read: if true
      allow create: if validOrganizer();
      allow update, delete: if signedInUser() && validOrganizer();
    } 
    match /badges/{badgesId} {
    	allow read: if signedInUser();
    }
    match /ranks/{rankId} {
    	allow read: if signedInUser();
    }
  }
}