.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: fit-content;
	background-color: #fff;
	&-col1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		&-text {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			padding: 0 0 0 2rem;
			font-size: 1.5rem;
			color: #7339ab;
		}
		&-icon {
			height: 1.5rem;
			width: auto;
			padding-left: 0.5rem;
		}
	}
	&-col2 {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: auto;
		animation: showNav 0.3s ease;
		&-p {
			display: grid;
			grid-template-columns: auto auto;
			column-gap: 3rem;
			justify-content: flex-end;
			height: auto;
		}
		&-link {
			padding-right: 3rem;
			text-decoration: none;
			height: fit-content;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 1rem;
			color: #424242;
		}
		&-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			&-button {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 0.8rem;
				color: #7339ab;
				padding: 0.5rem 2rem;
				border: 1px outset rgb(115, 57, 171, 0.25);
				background: none;
				box-sizing: border-box;
				box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				cursor: pointer;
				&:hover {
					background-color: #f9f9f9;
				}
			}
		}
		&-profile {
			display: grid;
			grid-template-columns: auto auto;
			column-gap: 1rem;
			justify-content: flex-end;
			height: auto;
			&-text {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 500;
				font-size: 1.2rem;
				color: #000000;
			}
			&-nav {
				display: flex;
				flex-direction: row;
				align-items: center;
				width: fit-content;
				padding-right: 1rem;
				cursor: pointer;
				height: auto;
				&-pic {
					font-size: 2rem !important;
					color: rgb(0, 0, 0, 0.8);
					width: auto;
				}
				&-menu {
					font-size: 1.2rem !important;
					color: rgb(0, 0, 0, 0.8);
					width: auto;
				}
			}
		}
	}
}

.events {
	padding: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	&-header {
		padding-bottom: 1rem;
		height: 5rem;
		width: 100%;
		h1 {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			color: #424242;
			font-size: 1.5rem;
		}
	}
	&-list {
		width: 100%;
		&-compact,
		&-expanded {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			grid-gap: 1rem;
			grid-auto-flow: dense;
			row-gap: 2rem;
			align-items: space-between;
			justify-items: space-around;
			height: fit-content;
		}
		&-items {
			display: flex;
			flex-direction: column;
			justify-content: center;
			background: #f9f9f9;
			border: 1px inset rgba(0, 0, 0, 0.15);
			box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.1);
			transition: 0.25s box-shadow linear;
			border-radius: 20px;
			cursor: pointer;

			&-details {
				padding: 0.5rem 1rem;
				&-title {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 1rem;
					line-height: 1.5rem;
					height: 5rem;
					text-overflow: ellipsis;
				}
				&-date {
					font-size: 0.8rem;
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 500;
					color: #7339ab;
					height: 1.5rem;
					text-overflow: ellipsis;
				}
				&-org {
					font-size: 0.8rem;
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 500;
					height: 1.5rem;
					text-overflow: ellipsis;
				}
				&-xp {
					display: flex;
					flex-direction: row;
					align-items: center;
					&-icon {
						height: 1rem;
						width: 1rem;
					}
					&-label {
						font-size: 0.8rem;
						height: fit-content;
						padding-left: 0.5rem;
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 500;
						text-overflow: ellipsis;
					}
				}
			}
			&:hover {
				box-shadow: 3px 4px 8px rgba(115, 57, 171, 0.3);
				transition: 0.25s box-shadow linear;
			}
		}
	}
	&-container {
		padding-top: 3rem;
		&-button {
			background: #ffffff;
			border: 1px solid rgba(0, 0, 0, 0.35);
			box-sizing: border-box;
			box-shadow: 0px 4px 5px 4px rgba(0, 0, 0, 0.05);
			border-radius: 10px;
			padding: 0.6rem 6rem;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: rgba(0, 0, 0, 0.75);
			transition: 0.25s all linear;
			cursor: pointer;
			&:hover {
				box-shadow: 0px 4px 5px 4px rgba(115, 57, 171, 0.15);
				color: rgba(84, 41, 124, 0.75);
				transition: 0.25s all linear;
			}
		}
	}
}

.footer {
	background: #7339ab;
	height: fit-content;
	&-row1 {
		display: flex;
		flex-direction: row;
		padding: 5rem;
		&-block1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 35%;
			&-container {
				display: flex;
				flex-direction: row;
				align-items: center;
				&-text {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 3rem;
					color: #ffffff;
				}
				&-icon {
					height: 3rem;
					width: auto;
					padding-left: 1rem;
				}
			}
		}
		&-block2 {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 65%;
			&-col1 {
				display: flex;
				flex-direction: column;
				&-head {
					h1 {
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 700;
						font-size: 1.25rem;
						color: #f9f9f9;
					}
				}
				&-links {
					display: flex;
					flex-direction: column;
					&-text {
						font-family: 'Montserrat';
						font-style: normal;
						text-decoration: none;
						font-weight: 500;
						font-size: 1rem;
						line-height: 2rem;
						color: #f9f9f9;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			&-col2 {
				display: flex;
				flex-direction: column;
				&-head {
					h1 {
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 700;
						font-size: 1.25rem;
						color: #f9f9f9;
					}
				}
				&-links {
					display: flex;
					flex-direction: column;
					&-text {
						font-family: 'Montserrat';
						font-style: normal;
						text-decoration: none;
						font-weight: 500;
						font-size: 1rem;
						line-height: 2rem;
						color: #f9f9f9;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			&-col3 {
				&-head {
					h1 {
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 700;
						font-size: 1.25rem;
						color: #f9f9f9;
					}
				}
				&-links {
					display: flex;
					flex-direction: column;
					&-text {
						font-family: 'Montserrat';
						font-style: normal;
						text-decoration: none;
						font-weight: 500;
						font-size: 1rem;
						line-height: 2rem;
						color: #f9f9f9;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	&-row2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 5rem;
		h1 {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.5rem;
			color: #b8b8b8;
		}
	}
}
.profile {
	padding-top: 5rem;
	&-body {
		min-height: calc(100vh - 8.2rem);
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-evenly;
		&-sec1 {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-evenly;
			height: fit-content;
			width: 30%;
			background: #ffffff;
			border: 1px solid #dadada;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 8px;
			padding: 1rem 3rem;
			&-title {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 600;
				font-size: 1rem;
				line-height: 2rem;
				color: #7339ab;
			}
			&-form {
				display: flex;
				flex-direction: column;
				align-self: center;
				height: 100%;
				width: 90%;
				&-label {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 400;
					font-size: 0.9rem;
					line-height: 1.5rem;
					min-width: 30%;
					color: #000000;
				}
				&-data {
					font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
					font-style: normal;
					font-weight: 400;
					font-size: 0.9rem;
					line-height: 2rem;
					min-width: 30%;
					width: 70%;
					padding-left: 1rem;
					border-bottom: 1px dotted hsl(0, 0%, 0%, 0.5);
					color: #000000;
				}
				&-fname {
					display: flex;
					flex-direction: row;
					align-items: center;
					width: auto;
				}
				&-lname {
					display: flex;
					flex-direction: row;
					align-items: center;
					width: auto;
				}
				&-gender {
					display: flex;
					flex-direction: row;
					align-items: center;
					width: auto;
				}
				&-bday {
					display: flex;
					flex-direction: row;
					align-items: center;
					width: auto;
				}
				&-email {
					display: flex;
					flex-direction: row;
					align-items: center;
					width: auto;
				}
				&-address {
					display: flex;
					flex-direction: row;
					align-items: center;
					width: auto;
				}
			}
			&-footer {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				height: 4rem;
				width: 100%;
				&-button {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 1rem;
					padding: 0.5rem 3rem;
					background: #7339ab;
					box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.15);
					border: none;
					border-radius: 10px;
					color: #ffffff;
					cursor: pointer;
					transition: all 0.1s ease;
					&:hover {
						background-color: rgba(117, 57, 172, 0.9);
						transition: all 0.1s ease;
					}
					&-hidden {
						display: none;
					}
				}
			}
		}
		&-divider {
			color: rgba(0, 0, 0, 0.5);
		}
		&-sec2 {
			width: 25%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-evenly;
			padding: 1rem 3rem;
			background: #ffffff;
			border: 1px solid #dadada;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 8px;
			&-title {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 600;
				font-size: 1rem;
				line-height: 2rem;
				color: #7339ab;
			}
			&-form {
				display: grid;
				grid-template-rows: auto auto;
				row-gap: 2rem;
				width: 100%;
				&-data {
					width: auto;
					word-break: break-all;
					white-space: normal;
					min-height: 100%;
				}
				&-button {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 1rem;
					width: fit-content;
					justify-self: center;
					padding: 0.5rem 3rem;
					background: #7339ab;
					border: none;
					box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.15);
					border-radius: 10px;
					color: #ffffff;
					cursor: pointer;
					transition: all 0.1s ease;
					&:hover {
						background-color: rgba(117, 57, 172, 0.9);
						transition: all 0.1s ease;
					}
					&-hidden {
						display: none;
					}
				}
			}
		}
	}
}
.achievements {
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
	align-items: center;
	&-body {
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
		width: 90vw;
		&-row1 {
			display: flex;
			flex-direction: row;
			justify-content: center;
			row-gap: 3rem;
			column-gap: 3rem;
			height: min-content;
			flex-wrap: wrap;
			width: 100%;
			&-col1 {
				display: flex;
				flex-grow: 2;
				min-width: 200px;
				max-width: 300px;
				max-height: 300px;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				aspect-ratio: 1/1;
				background: #ffffff;
				border: 1px solid #dadada;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 8px;
				&-image {
					background-color: hsla(0, 0%, 0%, 0.2);
					aspect-ratio: 1/1;
					width: 60%;
					border-radius: 100%;
				}
				&-text {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 900;
					color: #7339ab;
					font-size: 2rem;
				}
			}
			&-col2 {
				display: flex;
				flex-grow: 2;
				min-width: 200px;
				max-width: 300px;
				max-height: 300px;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				z-index: -1;
				aspect-ratio: 1 / 1;
				background: #ffffff;
				border: 1px solid #dadada;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 8px;
				&-bar {
					aspect-ratio: 1/1;
					width: 60%;
					&-icon {
						&-label1 {
							margin: 0;
							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 900;
							color: #424242;
							font-size: 1.2rem;
						}
						&-label2 {
							margin: 0;
							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 500;
							color: #424242;
							font-size: 0.8rem;
						}
					}
				}
				&-text {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 900;
					color: #7339ab;
					font-size: 2rem;
				}
			}
			&-col3 {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				max-width: 70%;
				max-height: 300px;
				row-gap: 3rem;
				&-section1 {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-evenly;
					padding: 0 5%;

					background: #ffffff;
					border: 1px solid #dadada;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					border-radius: 8px;
					min-height: calc(150px - 1.5rem);
					&-number {
						text-align: center;

						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 900;
						font-size: 2.5rem;
						color: #424242;
					}
					&-text {
						width: min-content;
						text-align: center;
						word-wrap: break-word;

						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 900;
						font-size: 2rem;
						color: #7339ab;
					}
				}
				&-section2 {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-evenly;
					padding: 0 5%;

					background: #ffffff;
					border: 1px solid #dadada;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					border-radius: 8px;
					min-height: calc(150px - 1.5rem);
					&-number {
						text-align: center;

						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 900;
						font-size: 2.5rem;
						color: #424242;
					}
					&-text {
						width: min-content;
						text-align: center;
						word-wrap: break-word;

						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 900;
						font-size: 2rem;
						color: #7339ab;
					}
				}
			}
		}
		&-row2 {
			width: 100%;
			display: flex;
			flex-direction: column;
			&-header {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 600;
				color: #7339ab;
				font-size: 1rem;
			}
			&-table {
				width: 100%;
				display: flex;
				flex-direction: column;
				&-head {
					width: 100%;
					display: flex;
					flex-direction: row;
				}
				&-body {
					width: 100%;
					display: flex;
					flex-direction: column;
					&-cells {
						width: 100%;
						display: flex;
						flex-direction: row;
					}
				}
			}
		}
	}
}

.event {
	&-body {
		min-height: calc(100vh - 8.2rem);
	}
}

//Animations
@keyframes showNav {
	from {
		height: 0;
	}
	to {
		height: 3rem;
	}
}

//special id's
#list {
	scroll-snap-align: start;
}
#dash {
	padding-top: 2rem !important;
}
