body {
	background-color: #fff;
}

html {
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
}

.landing {
	&-navbar {
		position: fixed;
		width: 100vw;
		height: fit-content;
		top: 0;
		left: 0;
	}
	&-header {
		position: fixed;
		top: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-top: 5rem;
		height: calc(100vh - 5rem);
		width: 100vw;

		&-col1 {
			z-index: 1;
			display: flex;
			flex-direction: column;
			align-items: left;
			justify-content: center;
			width: 60vw;
			height: 100%;
			padding-left: 10vw;
			h1 {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				margin-top: -10vh;
				font-size: 3rem;
				color: #424242;
				width: 40vw;
				flex-wrap: wrap;
				text-shadow: 0px 7px 8px rgba(0, 0, 0, 0.25);
			}
			button {
				background: rgb(144, 70, 217);
				border: none;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 600;
				font-size: 0.8rem;
				line-height: 20px;
				color: #ffffff;
				box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.25);
				width: fit-content;
				border-radius: 20px;
				padding: 0.5rem 2rem;
				cursor: pointer;
				transition: 0.25s all linear;
				&:hover {
					box-shadow: 3px 3px 8px 3px rgba(115, 57, 171, 0.25);
					background: rgb(106, 48, 161);
					transition: 0.25s all linear;
				}
			}
		}
		&-col2 {
			display: flex;
			flex-direction: column;
			align-items: right;
			justify-content: center;
			width: 40vw;
			img {
				position: absolute;
				width: 60vw;
				top: 5vh;
				right: 2vw;
			}
		}
	}
	&-body {
		position: sticky;

		top: 5rem;
		margin-top: 100vh;
		min-height: 100vh;
		height: fit-content;
		background-color: white;
		box-shadow: 0 -3px 10px 5px rgba(0, 0, 0, 0.25);
	}
}

.dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	&-container {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		border-bottom: 1px solid #ccc1c1;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		&-nav {
			height: 3rem;
			width: 100%;
		}
		&-tab {
			min-width: 75vw;
			max-width: 85vw;
			height: 3.6rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-top: 1.5rem;
			&-list {
				width: 100%;
				&::-webkit-scrollbar {
					width: 0;
					height: 0;
				}
			}
		}
		&-profile {
			width: 100vw;
			text-align: center;
		}
	}
	&-body {
		width: 100%;
		margin-top: 8.2rem;
	}
}

.signin {
	display: flex;
	flex-direction: column;
	&-navbar {
		height: 2rem;
	}
	&-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: calc(100vh - 2rem);
		&-container {
			display: flex;
			flex-direction: row;
			height: fit-content;
			width: 55vw;
			background: #ffffff;
			border: 1px solid rgba(0, 0, 0, 0.15);
			box-sizing: border-box;
			box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.05);
			border-radius: 10px;
			padding: 4rem 0;
			&-col1 {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 50%;
				img {
					width: 20vw;
				}
			}
			&-col2 {
				display: flex;
				flex-direction: column;
				width: 50%;
				&-header {
					display: flex;
					flex-direction: column;
					&-text1 {
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 700;
						font-size: 3rem;
						margin: 0;
						color: #000000;
					}
					&-text2 {
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 500;
						font-size: 1.25rem;
						color: rgba(0, 0, 0, 0.75);
					}
				}
				&-form {
					display: flex;
					flex-direction: column;
					&-fields {
						display: flex;
						flex-direction: column;
						width: 80%;
						padding: 2rem 0;
						&-text1 {
							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 600;
							font-size: 1rem;
							color: rgba(0, 0, 0, 0.75);
						}
						&-input {
							height: 2.5rem;
							font-size: 1rem;
							background: #ffffff;
							border: 1px solid rgba(0, 0, 0, 0.35);
							box-sizing: border-box;
							box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
							border-radius: 5px;
						}
						&-text2 {
							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 600;
							font-size: 1rem;
							color: rgba(0, 0, 0, 0.35);
							cursor: pointer;
							&:hover {
								text-decoration: underline;
								color: rgba(217, 38, 38, 0.6);
							}
						}
					}
					&-container {
						display: flex;
						flex-direction: column;
						align-items: center;
						padding-bottom: 1rem;
						width: 80%;
						&-button {
							width: 80%;
							border: none;
							background: #7339ab;
							box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.15);
							border-radius: 10px;
							font-family: 'Montserrat';
							cursor: pointer;
							font-style: normal;
							font-weight: 700;
							font-size: 1.25rem;
							padding: 0.5rem 3rem;
							color: #ffffff;
							transition: all 0.1s ease;
							&:hover {
								background-color: rgba(117, 57, 172, 0.9);
								transition: all 0.1s ease;
							}
						}
					}
				}
				&-footer {
					display: flex;
					flex-direction: column;
					&-text {
						font-family: 'Montserrat';
						text-decoration: none;
						font-style: normal;
						font-weight: 600;
						font-size: 1rem;
						color: rgba(0, 0, 0, 0.35);
						&:hover {
							text-decoration: underline;
							color: rgb(115, 57, 171, 0.75);
						}
					}
				}
			}
		}
	}
}
.signup {
	display: flex;
	flex-direction: column;
	&-navbar {
		height: 2rem;
	}
	&-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: calc(100vh - 2rem);
		&-container {
			display: flex;
			flex-direction: column;
			height: fit-content;
			width: 50vw;
			background: #ffffff;
			border: 1px solid rgba(0, 0, 0, 0.15);
			box-sizing: border-box;
			box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.05);
			border-radius: 10px;
			padding: 4rem;
			&-header {
				display: flex;
				flex-direction: column;
				&-text1 {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 3rem;
					margin: 0;
					color: #000000;
				}
				&-text2 {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 500;
					font-size: 1.25rem;
					color: rgba(0, 0, 0, 0.75);
				}
			}
			&-section {
				display: grid;
				grid-auto-flow: row;
				row-gap: 2rem;
				align-items: center;
				&-forms {
					display: flex;
					flex-direction: column;
					width: 100%;
					&-fullname {
						display: flex;
						flex-direction: row;
						height: fit-content;
						justify-content: space-between;
						width: 100%;
						&-col1 {
							display: flex;
							flex-direction: column;
							width: 47.5%;
							&-label {
								&-text {
									font-family: 'Montserrat';
									font-style: normal;
									font-weight: 600;
									font-size: 1rem;
									color: rgba(0, 0, 0, 0.75);
								}
							}
						}
						&-col2 {
							display: flex;
							flex-direction: column;
							width: 47.5%;
							&-label {
								&-text {
									font-family: 'Montserrat';
									font-style: normal;
									font-weight: 600;
									font-size: 1rem;
									color: rgba(0, 0, 0, 0.75);
								}
							}
						}
					}

					&-email {
						&-text {
							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 600;
							font-size: 1rem;
							color: rgba(0, 0, 0, 0.75);
						}
					}
					&-password {
						display: flex;
						flex-direction: row;
						height: fit-content;
						justify-content: space-between;
						width: 100%;
						&-col1 {
							display: flex;
							flex-direction: column;
							width: 47.5%;
							&-label {
								&-text {
									font-family: 'Montserrat';
									font-style: normal;
									font-weight: 600;
									font-size: 1rem;
									color: rgba(0, 0, 0, 0.75);
								}
							}
						}
						&-col2 {
							display: flex;
							flex-direction: column;
							width: 47.5%;
							&-label {
								&-text {
									font-family: 'Montserrat';
									font-style: normal;
									font-weight: 600;
									font-size: 1rem;
									color: rgba(0, 0, 0, 0.75);
								}
							}
						}
					}
				}
				&-button {
					display: flex;
					flex-direction: column;
					align-items: center;
					&-hold {
						display: flex;
						flex-direction: column;
						align-items: center;
						padding-bottom: 1rem;
						width: 80%;
						&-create {
							width: 80%;
							border: none;
							background: #7339ab;
							box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.15);
							border-radius: 10px;
							font-family: 'Montserrat';
							cursor: pointer;
							font-style: normal;
							font-weight: 700;
							font-size: 1.25rem;
							padding: 0.5rem 3rem;
							color: #ffffff;
							transition: all 0.1s ease;
							&:hover {
								background-color: rgba(117, 57, 172, 0.9);
								transition: all 0.1s ease;
							}
						}
					}
				}
				&-footer {
					display: flex;
					flex-direction: column;
					align-items: center;
					&-hold {
						display: flex;
						flex-direction: row;
						&-label {
							display: flex;
							flex-direction: column;
							justify-content: center;
							&-text {
								font-family: 'Montserrat';
								text-decoration: none;
								font-style: normal;
								font-weight: 600;
								font-size: 1rem;
								color: rgba(0, 0, 0, 0.35);
							}
						}
						&-login {
							display: flex;
							flex-direction: column;
							justify-content: center;

							&-link {
								padding-left: 0.5rem;
								font-family: 'Montserrat';
								text-decoration: none;
								font-style: normal;
								font-weight: 600;
								font-size: 1rem;
								cursor: pointer;
								color: #7339ab;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
	}
}

.modal {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background-color: white;
	animation-name: background;
	animation-duration: 4s;
}

.display-flex {
	display: flex;
}

.display-none {
	display: none;
}

//Animations

@keyframes background {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.details {
	display: flex;
	flex-direction: column;
	&-nav {
		width: 100%;
		position: fixed;
		top: 0;
	}
	&-back {
		height: fit-content;
		height: fit-content;
		margin-top: 4rem;
		padding: 0.5rem 2rem;
		&-icon {
			color: #7339ab;
			&:hover {
				cursor: pointer;
				color: #542383;
			}
		}
	}
	&-head {
		display: flex;
		flex-direction: column;
		align-self: center;
		width: 90%;
		&-row1 {
			display: flex;
			flex-direction: row;
			column-gap: 2rem;
			justify-content: space-evenly;
			flex-wrap: wrap;
			&-col1 {
				flex-grow: 0.8;
				min-width: 300px;
				width: 50%;
				img {
					width: 100%;
					height: 100%;
					border-radius: 20px;
					object-fit: cover;
				}
			}
			&-col2 {
				display: flex;
				flex-direction: column;
				min-width: 300px;
				width: 30%;
				flex-grow: 0.8;
				&-title {
					word-wrap: break-word;
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 2.5rem;
					line-height: 2.5rem;
					text-align: start;
					color: rgba(0, 0, 0, 0.85);
				}
				&-org {
					margin: 0;
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 1.3rem;
					line-height: 1.3rem;
					color: #7339ab;
				}
				&-xp {
					margin-top: 2vh;
					display: flex;
					flex-direction: row;
					align-items: center;
					column-gap: 0.5rem;
					img {
						width: 1.2rem;
						object-fit: contain;
					}
					p {
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 600;
						font-size: 1.2rem;
						line-height: 1.2rem;
						color: rgba(12, 21, 12, 0.85);
					}
				}
			}
		}
		&-row2 {
			display: flex;
			flex-direction: row;
			padding: 1.5rem 2rem;
			align-items: center;
			justify-content: space-between;
			width: calc(100% - 4rem);
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 10px 10px 0 0;
			&-icon {
				color: #7339ab;
				&:hover {
					cursor: pointer;
					color: #7a43ad;
				}
				transition: all 0.2s ease;
			}
			&-register {
				color: #fff;
				height: 3rem;
				min-width: 10rem;
				width: 35%;
				background: #7339ab;
				border-radius: 5px;
				border: none;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 1rem;
				line-height: 1.5rem;
				border-radius: 5px;
				&:hover {
					cursor: pointer;
					background: #7a43ad;
				}
				transition: all 0.2s ease;
			}
		}
	}
	&-body {
		width: 90%;
		display: flex;
		column-gap: 2rem;
		flex-direction: row;
		flex-wrap: wrap;
		height: fit-content;
		align-self: center;
		justify-content: space-between;
		&-col1 {
			display: flex;
			flex-direction: column;
			row-gap: 1.5rem;
			width: 10%;
			flex-grow: 1;
			min-width: 300px;
			height: auto;
			background: rgba(169, 80, 255, 0.05);
			padding-top: 5rem;
			&-sec1 {
				padding-left: 2rem;
				h1 {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 600;
					font-size: 1.5rem;
					line-height: 1.8rem;
					text-align: justify;
					color: #000000;
				}
				p {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 500;
					font-size: 1rem;
					line-height: 1.5rem;
					text-align: justify;
					color: #000000;
				}
			}
			&-sec2 {
				padding-left: 2rem;
				h1 {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 600;
					font-size: 1.5rem;
					line-height: 1.8rem;
					text-align: justify;
					color: #000000;
				}
				p {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 500;
					font-size: 1rem;
					line-height: 1.5rem;
					text-align: justify;
					color: #000000;
				}
			}
			&-sec3 {
				padding-left: 2rem;
				h1 {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 600;
					font-size: 1.5rem;
					line-height: 1.8rem;
					text-align: justify;
					color: #000000;
				}
				p {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 500;
					font-size: 1rem;
					line-height: 1.5rem;
					text-align: justify;
					color: #000000;
				}
			}
			&-sec4 {
				padding-left: 2rem;
				h1 {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 600;
					font-size: 1.5rem;
					line-height: 1.8rem;
					text-align: justify;
					color: #000000;
				}
				p {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 500;
					font-size: 1rem;
					line-height: 1.5rem;
					text-align: justify;
					color: #000000;
				}
			}
		}
		&-col2 {
			width: 50%;
			display: flex;
			flex-direction: column;
			row-gap: 1rem;
			flex-grow: 1;
			padding-top: 2rem;
			&-header {
				h1 {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 2.5rem;
					line-height: 3rem;
					text-align: justify;
					color: #7339ab;
				}
			}
			&-body {
				width: 95%;
				display: flex;
				flex-direction: column;
				row-gap: 3rem;
				align-self: flex-end;
				&-sec1 {
					display: flex;
					flex-direction: column;
					h1 {
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 600;
						font-size: 1.3rem;
						line-height: 2rem;
						text-align: justify;
						color: #542383;
					}
					p {
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 500;
						font-size: 1.3rem;
						line-height: 2rem;
						text-align: justify;
						color: #000000;
					}
				}
				&-divider {
					border-top: 2px solid rgba(0, 0, 0, 0.5);
				}
				&-sec2 {
					h1 {
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 600;
						font-size: 1.6rem;
						line-height: 2rem;
						text-align: justify;
						color: #542383;
					}
					p {
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 500;
						font-size: 1.6rem;
						line-height: 2rem;
						text-align: justify;
						color: #000000;
					}
				}
			}
		}
	}
}
